/* Basic container styling */
.content-wrapper {
    padding-top: 20px;
  }
  
  /* Styling for the left container */
  .translation-result {
    min-height: 150px;
    font-size: 0.9rem;
    color: #6c757d; 
  }
  
  /* Webcam container with relative positioning to allow absolute positioning of child elements */
  .webcam-container {
    height: 300px;
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebeced;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative; 
  }
  
  /* Stretch the webcam video to fit the container */
  .webcam-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
  }
  
  /* Overlay for "Camera Off" icon */
  .camera-off-overlay {
    position: absolute;
    color: #6c757d;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 0.25rem;
  }
  
  /* Position the vector image behind the webcam container */
  .vector-img {
    position: absolute; 
    top: 15%; 
    right: -80px; 
    transform: translateY(-50%); 
    z-index: -1; 
    width: 200px;
    pointer-events: none; 
  }
  
  /* Gradient text effect for "Bahasa Isyaratmu" */
  .gradient-text {
    background-image: linear-gradient(
      to right,
      #0c4686,
      #28acfb
    ); /* Gradient from #0C4686 to #28ACFB */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  