/* Apply Roboto font globally */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Ensure headings also use Roboto and have bold weight */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/* Custom styles for Home */
#translationResult {
    min-height: 168px;
    border: 1px solid #6c757d;
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: #f8f9fa;
}

/* Custom styles for Dictionary */
.input-search {
    max-width: 400px;
    margin: 0 auto;
}

/* Ensure the content is not overlapped by the fixed navbar */
.content-wrapper {
    padding-top: 40px;
    position: relative;
    overflow: hidden;
}

/* Apply Roboto to Bootstrap-specific components */
.navbar, .btn, .list-group-item, .form-control {
    font-family: 'Roboto', sans-serif;
}
